.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin: 2rem;
}

.card {
    grid-column: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin-top: 80px;
}

.image-qr-code {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 3rem;
}

body {
    background-color: cornflowerblue;
}